html,
body {
	margin:0;
	padding:0;
  	width:100%;
	height:100%;
	background: #ddd;
}

body {
	background-image: url('../images/background_initial.jpq');
    	background-size: cover;
}

header {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

header img {
	margin: 7px;
	margin-left: 15px;
	width: 40px;
	height: 40px;
}

header h1 {
	margin: 0;
	padding: 10px;

	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 300%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#search_bar {
	width: 100%;
	padding: 2em 0em;
	margin-bottom: 4em;
	display: inline-block;
	text-align: center;
}


#search_bar h2 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 200%;
}

#search_values {
	display: inline;
}

#search_bar select:hover {
	background-color: #e8e8e8;
}

#search_bar select:active {
	background-color: #d4d4d4;
}

.black-screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}
#search_values input {
	min-width: 20em;
	width: 50%;
	height: 20px;
}

#search_icon {
	background-image: url('../images/search.png');
	background-size: 15px;
	background-position: 5px 5px;
	padding-left: 20px;
	border: none;
}

#search_values select {
	padding: 5px 1em;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#log_site {
	list-style-type: none;
	text-align: center;
}

#log_site li form {
	display: block;
	text-decoration: none;
}

#log_site input:hover {
	background-color: #050;
}

#log_site input:active  {
	background-color: #040;
}

#log_site input {
	background-color: #060;

	border: none;
	border-radius: 10px;

	color: white;

	max-width: 25em;
	min-width: 10em;
	width: 40%;
	padding: 18px 0px;
	margin: 10px 0px;
	text-decoration: none;
	font-size: 16px;
}

.icon_text {    
	background-color: white;
	background-repeat: no-repeat;
}

.sexy_border {
	max-width: 25em;
	width: 40%;
	height: 2px;
	margin: 5px auto;
	background: rgba(150, 150, 150, 0.7);
	background: -webkit-radial-gradient(center, 60% 60px, rgba(50, 50, 50, 1), rgba(100, 100, 100, 0))
}

.Absolute_Center {
	top: 0;
	width: 25%;
	min-width: 220px;
	height: 40%;
	min-height: 220px;
	position: fixed;
	left: 75%;
	margin-left: -37.5%;
	background: white;   

	-webkit-box-shadow: 0px 0px 8px 0px #888;
	-moz-box-shadow: 0px 0px 8px 0px #888;
	box-shadow: 0px 0px 8px 0px #888;  
}

#login-form {
	position: absolute;
	width: 500px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -250px;
	text-align: center;
	background: rgba(255,255,255,1);
	background: linear-gradient(rgba(220,220,220,1), rgba(255,255,255,1));
	background: -webkit-linear-gradient(rgba(220,220,220,1), rgba(255,255,255,1));
	background: -moz-linear-gradient(rgba(220,220,220,1), rgba(255,255,255,1));
	background: -o-linear-gradient(rgba(220,220,220,1), rgba(255,255,255,1));
	box-shadow: 0px 0px 10px 2px #888;
    -webkit-box-shadow: 0px 0px 10px 2px #888;
    -moz-box-shadow: 0px 0px 10px 2px #888;
    -o-box-shadow: 0px 0px 10px 2px #888;
	border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
    text-align: center;
    box-sizing: border-box;
}

#login-username {
	margin: -30px auto;
}

#login-password {
	margin: 60px auto;
}

#login-form input[type=text],
#login-form input[type=password] {
	box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -o-box-shadow: 0px 0px 5px #888;
}

#login-form input{
	width: 300px;
	display: block;
	font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#signin-button {
	width: 50%;
    height: 40px;
    margin: 20px auto;
    background: rgb(230,230,230);
    background: linear-gradient(rgb(230,230,230), rgb(210,210,210));
    background: -webkit-linear-gradient(rgb(230,230,230), rgb(210,210,210));
    background: -o-linear-gradient(rgb(230,230,230), rgb(210,210,210));
    background: -moz-linear-gradient(rgb(230,230,230), rgb(210,210,210));
    border: 2px solid rgb(200,200,200);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -o-border-radius: 5%;
	box-shadow: 0px 3px 5px #888;
    -webkit-box-shadow: 0px 3px 5px #888;
    -moz-box-shadow: 0px 3px 5px #888;
    -o-box-shadow: 0px 3px 5px #888;
    text-shadow: 3px 3px 3px #888;
    -webkit-text-shadow: 3px 3px 3px #888;
    -moz-text-shadow: 3px 3px 3px #888;
    -o-text-shadow: 3px 3px 3px #888;
    outline: none;
    font-size: 40px;
    color: rgb(100,100,100);
}

#signin-button:hover {
    cursor: pointer;
}

#signin-button:active {
    background: rgb(220,220,220);
    background: linear-gradient(to top, rgb(230,230,230), rgb(220,220,220));
    background: -webkit-linear-gradient(to top, rgb(230,230,230), rgb(220,220,220));
    background: -o-linear-gradient(to top, rgb(230,230,230), rgb(220,220,220));
    background: -moz-linear-gradient(to top, rgb(230,230,230), rgb(220,220,220));
}

#login-profile-picture {
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;
    left: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0px 0px 15px 5px #888;
    -webkit-box-shadow: 0px 0px 15px 5px #888;
    -moz-box-shadow: 0px 0px 15px 5px #888;
    -o-box-shadow: 0px 0px 15px 5px #888;
}

.style_button {
	padding: 5px 1em;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.style_button:hover {
	background-color: #e8e8e8;
}

.style_button:active  {
	background-color: #d0d0d0;
}

.class_form .style_button {
	display: block;
	margin: 10px auto;
}
