html,
body {
	margin:0;
	padding:0;
  	width:100%;
	height:100%;
	background: #ddd;
}

header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

header img {
	margin: 7px;
	margin-left: 15px;
	width: 40px;
	height: 40px;
	float: left;
}

#wrapper {
	min-height: 100%;
	position:relative;
}

#content {
	padding-bottom:50px;
}


/* Header related */

#log_site {
	display: inline;
	list-style-type: none;
}

#log_site li {
	float: right;
}

#log_site li form {
	display: block;
	color: white;
	text-decoration: none;
}

#log_site input:hover {
	background-color: #111;
}

#log_site input:active  {
	background-color: #000;
}

#log_site input {
	background-color: #333;
	border: none;
	color: white;
	padding: 18px 22px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* Search bar related */

#search_bar {
	width: 100%;
	padding: 2em 0em;
	display: inline-block;

	-webkit-transition: padding 1s;
	transition: padding 1s;

	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	    box-shadow: 0px 0px 8px 0px #000000;
}

#search_bar:hover {
	padding: 6em 0em;
}

#search_bar h2 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 200%;
}

#search_values {
	display: inline;
}

#search_bar select:hover {
	background-color: #e8e8e8;
}

#search_bar select:active {
	background-color: #d4d4d4;
}

#search_values input {
	width: 30em;
	height: 20px;
}

#Search_Icon {
	background-image: url('../images/search.png');
	background-size: 15px;
	background-position: 5px 5px;
	padding-left: 20px;
}

#Register_Pass_Icon {
	background-image: url('../images/key.png');
	background-size: 15px;
	background-position: 2px 1px;
	padding-left: 20px;
}

#Register_User_Icon {
	background-image: url('../images/person.png');
	background-size: 20px;
	background-position: 0px -2px;
	padding-left: 20px;
}

#Login_Pass_Icon {
	background-image: url('../images/key.png');
	background-size: 15px;
	background-position: 2px 1px;
	padding-left: 20px;
}

#Login_User_Icon {
	background-image: url('../images/person.png');
	background-size: 20px;
	background-position: 0px -2px;
	padding-left: 25px;
}

#search_values select {
	padding: 5px 1em;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#search_bar {
	background-image: url('../images/background_search.jpg');
	background-position: center;
	background-size: cover;
}


/* List of restaurants related */

#restaurants_list {
	width: 70%;
	background: white;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0em;
	list-style-type: none;

	-webkit-box-shadow: 0px 0px 8px 0px #888;
	-moz-box-shadow: 0px 0px 8px 0px #888;
	box-shadow: 0px 0px 8px 0px #888;
}

.Margin_Top_Bottom {
	margin-top: 2em;
	margin-bottom: 2em;
}

.Restaurant_Opt {
	padding:2em;
}

.Restaurant_Opt h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.Restaurant_Opt:hover {
	background: #efefef;
}

.Restaurant_Opt:active  {
	background: #e0e0e0;
}


.Restaurant_Opt img {
	width: 70px;
	height: 70px;
	float: left;
}


/* Restaurant's page related */

#Restaurant_Page {
	width: 70%;
	margin: auto; 
}

.Restaurant_Photo  {
	display: flex;
	flex-direction: column;

	background-image: url('../images/background_search.jpg');
	background-position: center;
	background-size: cover;

	height: 250px; 

	-webkit-box-shadow: 0px 0px 8px 0px #888;
	-moz-box-shadow: 0px 0px 8px 0px #888;
	box-shadow: 0px 0px 8px 0px #888;
}

.Restaurant_Photo .Restaurant_Basic_Info {
	padding: 1em 2em;
	margin-top: auto;
	color: white;

	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 150%;
}

.Restaurant_Photo .Restaurant_Name {
	margin: 0;
	font-size: 170%;
}

.Restaurant_Basic_Info .Score {
	margin-top: 10px;
}

.Restaurant_Basic_Info {
	background-color: rgba(30, 30, 30, 0);

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

	border-radius: 0px 0px 5px 5px;
}

.Restaurant_Basic_Info:hover {
	background-color: rgba(30, 30, 30, 0.7);
}

#Restaurant_Nav {
	display:table;
	list-style: none;

	width: 100%;
	height: 25px;
	padding: 0;

	overflow: auto;

	font-size: 150%;
	font-weight: bold;    

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sticky-element.sticky {
	position: fixed;
	top: 0;
	width: 70%;
}

.Selected_Item {
	padding: 0;
	background-color: #eec606;
	height: 5px;
	width: 100%;
}

.Unselected_Item {
	opacity: 0;
	padding: 0;
	height: 5px;
	width: 100%;

	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

#sticky-anchor{
	height: 1px;
}

#Restaurant_Nav {
	margin: 0;
}

#Restaurant_Nav li:hover .Unselected_Item {
	opacity: 0.8;
	background-color: #aaa;
}

#Restaurant_Nav li {
    	display:table-cell;
	background-color: white;
}

#Restaurant_Nav p {
	margin: 5px;
}

.Default_Info_Box {
	background-color: white;

	overflow: auto;

	-webkit-box-shadow: 0px 0px 8px 0px #888;
	-moz-box-shadow: 0px 0px 8px 0px #888;
	box-shadow: 0px 0px 8px 0px #888;
}

#Overview_Col1, #Overview_Col2 {
	display: inline-block;
	vertical-align:top;
	width: 45%;
	margin: 10px 2%;
}

#Ov_Categories {
	padding: 0;
	list-style-type: none;
}

#Overview_Map {
	margin: 10px;
}

#map {
	overflow: auto;
	height: 18em;
	width: 70%;
	margin: auto;
}

.Overview_Title {
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 5px;
}

.Overview_Title ~ * {
	margin: 5px;
}

#Phone_Number {
	font-weight: bold;
	color: green;
}

#Ov_Closed {
	color: #cb202d;
}

.Ov_Category {
	color: #cb202d;
}

#Restaurant_Menu, #Restaurant_Reviews, #Restaurant_Photos {
	display: none;
}

.Restaurant_Name {
	display: inline-block;
}

.Score {
	display: inline;
	float: right;
}

.Score * {
	margin: 0;
}

.Score h3 {
	display: inline;
	float: right;
}

.Max_Score {
	font-size: 80%;
}

#restaurant_score {
	display: inline;
	float: right;
}

#outOf {
	display: inline;
	float: right;
}

footer {	
	width: 100%;
	overflow: none;	
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: #333;
	color: white;
}

footer p {
	float: left;
}

footer #google_translate_element {
	width: 20em;
	margin: 12px 16px 0px 0px;
	display: inline-block;
	float: right;
}

.Absolute_Center {
	top: 0;
	width: 25%;
	min-width: 220px;
	height: 40%;
	min-height: 220px;
	position: fixed;
	left: 75%;
	margin-left: -37.5%;
	background: white;   

	-webkit-box-shadow: 0px 0px 8px 0px #888;
	-moz-box-shadow: 0px 0px 8px 0px #888;
	box-shadow: 0px 0px 8px 0px #888;  
}

#login_form h3 {
	margin: 0;
	padding: 20px 0px;
}

#login_form p {
	margin: 0;
	padding: 10px 0px;
}

.style_button {
	padding: 5px 1em;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.style_button:hover {
	background-color: #e8e8e8;
}

.style_button:active  {
	background-color: #d0d0d0;
}

.class_form .style_button {
	display: block;
	margin: 10px auto;
}

.Black_Screen {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #000;
	opacity: 0.8;
}


.Icon_Text {    
	background-color: white;
	background-repeat: no-repeat;
}

.Curved_Edges {
	border-radius: 5px;
}

.Sexy_Border {
	width: 90%;
	height: 1px;
	margin: 5px auto;
	background: rgba(150, 150, 150, 0.7);
	background: -webkit-radial-gradient(center, 40% 40px, rgba(150, 150, 150, 1), rgba(255, 255, 255, 0))
}

.Text_Align_Center {
	text-align: center;
}

.Hide_Link_Display {
	color: black;
    	text-decoration: none;
}

#Add_Score, #Submit_Review {
	display: none;
}

#Add_Score {
	width: 85%;
	margin: auto;
	background-color: #eee;
}

#Add_Score ul {
	padding: 10px  0;
	list-style: none;
}

#Review_Form {
	width: 90%;
	padding: 5%;
	text-align: center;

	-webkit-transition: height 1s;
	transition: height 1s;
}

#Review_Comment {
	width: 85%;
	margin: auto;
}

#Add_Score li {
	width: 25px;
	height: 25px;
	margin: 2px 2px 0px -5px;
	display: inline-block;
	vertical-align: middle;
	background-color: #aaa;
}

#Add_Score #Total_Score {
	height: auto;
	background-color: #eee;
}
