body {
    width: 100%;
    margin: 0 auto;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header img {
    margin: 7px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    float: left;
}

ul#log_site {
    display: inline;
    list-style-type: none;
}

ul#log_site li {
    float: right;
}

ul#log_site li form {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#log_site input:hover {
    background-color: #111;
}

ul#log_site input {
    background-color: #333;
    border: none;
    color: white;
    padding: 18px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#search_bar {
    width: 100%;
    padding: 2em 0em;
    display: inline-block;
    text-align: center;    
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

#search_bar:hover {
    padding: 6em 0em;
}

#search_bar h2 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 200%;
}

#search_values {
	display: inline;
}

#search_submit {
    padding: 5px 1em;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#search_submit:hover {
    background-color: #e8e8e8;
}

#search_bar select:hover {
    background-color: #e8e8e8;
}

#search_values input {
    background-color: white;
    background-image: url('../images/search.png');
    background-size: 15px;
    background-position: 5px 5px;
    background-repeat: no-repeat;

    width: 30em;
    height: 20px;
    padding-left: 25px;
}

#search_values select {
    padding: 5px 1em;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#search_bar {
    background-image: url('../images/background_search.jpg');
    background-position: center;
    background-size: cover;
}


footer {
    margin: 0;
    padding: 5px 0px;
    overflow: hidden;
    background-color: #333;

}
